POC-Wemanity/mulesoft-sapi-employee-ehr-master/src/main/mule/employee-ehr-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd       http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
    

	<flow name="employee-ehr-sapi-main"
		doc:id="7b86c7e0-8fbf-46bd-922e-6a38f3150b43">
		<http:listener doc:name="Listener"
			doc:id="d5a0da9f-5121-489b-a95c-7b6eee372c42"
			config-ref="employee-ehr-sapi-http-listener-config" path="${httpListener.path}">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Set TransactionId and Entity var"
			doc:id="011a2553-58c0-40f0-88dd-79233a842869">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="transactionId"><![CDATA[output application/java   
---   
if (!isEmpty(attributes.headers.transactionId))   
 attributes.headers.transactionId   
else correlationId]]></ee:set-variable>
				<ee:set-variable variableName="entity"><![CDATA[%dw 2.0
output application/java
---
attributes.headers['entity'] default ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router doc:name="APIkit Router" doc:id="78a0354e-ff4d-4b30-9a38-5f959a0f15f3" config-ref="employee-ehr-sapi-config" />
		<error-handler ref="error-handling-apikit" />
	</flow>
	<flow name="get:\health:employee-ehr-sapi-config"
		doc:id="daf5ac17-c97f-4664-a254-b8e258faa537">
		<ee:transform doc:name="health-check"
			doc:id="98a463ea-c08d-4ba9-8c2c-3d7e054af1d5"
			xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload resource="dwl/getHealth.dwl" />
			</ee:message>
		</ee:transform>
		<error-handler ref="error-handling-app" />
	</flow>
	<flow name="get:\employees\(ID):employee-ehr-sapi-config"
		doc:id="ded7b1a3-74db-4d58-9ff7-7048e72c97dd">
		<ee:transform doc:name="Set Employee ID"
			doc:id="8e5ec6c9-2865-44b2-971a-3b7524f75792">
			<ee:variables>
				<ee:set-variable variableName="employeeId"><![CDATA[attributes.uriParams.'ID']]></ee:set-variable>
				<ee:set-variable variableName="lastModifiedDateTime"><![CDATA[%dw 2.0
output application/java
---
attributes.headers['lastModifiedDateTime'] default ""]]></ee:set-variable>
				<ee:set-variable variableName="region"><![CDATA[%dw 2.0
output application/java
---
attributes.headers['region'] default ""]]></ee:set-variable>
				<ee:set-variable variableName="queryType" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers['queryType'] default ""]]></ee:set-variable>
				<ee:set-variable variableName="effectiveDate" ><![CDATA[%dw 2.0
output application/java
import dw::core::Dates

fun formatDate(date) = date as DateTime as String {format: "yyyy-MM-dd"} as Date default ""
---
formatDate(attributes.headers['lastModifiedDateTime'])]]></ee:set-variable>

			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="compound-employee-condition-builder-flow"
			doc:id="f35450b4-df2c-4a0d-b816-089dc44183e2"
			name="compound-employee-condition-builder-flow" />
		<error-handler ref="error-handling-app" />
	</flow>
	<flow name="get:\employees:employee-ehr-sapi-config"
		doc:id="1068efa2-471e-49d5-bff8-ad6f86a0484b">
		<ee:transform doc:name="Set Variables"
			doc:id="7c2537b5-6e38-4d2d-8f34-1745b4a5fbb5">
			<ee:variables>
				<ee:set-variable variableName="region"><![CDATA[%dw 2.0
output application/java
---
attributes.headers['region'] default ""]]></ee:set-variable>
				<ee:set-variable variableName="lastModifiedDateTime"><![CDATA[%dw 2.0
output application/java
---
attributes.headers['lastModifiedDateTime'] default ""]]></ee:set-variable>
				<ee:set-variable variableName="transmission"><![CDATA[%dw 2.0
output application/java
---
attributes.headers['transmission'] default ""]]></ee:set-variable>
				<ee:set-variable variableName="employeeType"><![CDATA[%dw 2.0
output application/java
---
attributes.headers['employeeType'] default ""]]></ee:set-variable>
				<ee:set-variable variableName="queryType"><![CDATA[%dw 2.0
output application/java
---
attributes.headers['queryType'] default ""]]></ee:set-variable>
				<ee:set-variable variableName="effectiveDate"><![CDATA[%dw 2.0
output application/java
import dw::core::Dates

fun formatDate(date) = date as DateTime as String {format: "yyyy-MM-dd"} as Date default ""
---
formatDate(attributes.headers['lastModifiedDateTime'])]]></ee:set-variable>

				<!-- SPAD-9128 -->
				<ee:set-variable variableName="startDate"><![CDATA[%dw 2.0
output application/java
---
attributes.headers['startDate'] default ""]]></ee:set-variable>
				<ee:set-variable variableName="company"><![CDATA[%dw 2.0
output application/java
---
attributes.headers['company'] default ""]]></ee:set-variable>

			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="compound-employee-condition-builder-flow"
			doc:id="35ef0cec-c64c-4fe6-9ace-92324effd394"
			name="compound-employee-condition-builder-flow" />
		<error-handler ref="error-handling-app" />
	</flow>
	<flow name="get:\employees\update:employee-ehr-sapi-config"
		doc:id="59b42d2c-3236-47ac-8dc6-97c2b4e222b3">
		<ee:transform doc:name="Set loginSessionId, sessionId &amp; hasMore &amp; payroll"
			doc:id="f5072fb8-ebe5-4ac9-be9c-f467b43998e0">
			<ee:variables>
				<ee:set-variable variableName="lastModifiedDateTime"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams['lastModifiedDateTime'] default ""]]></ee:set-variable>
				<ee:set-variable variableName="sessionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers['sessionId'] default ""]]></ee:set-variable>
				<ee:set-variable variableName="hasMore" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers['hasMore'] default true]]></ee:set-variable>
				<ee:set-variable variableName="loginSessionId" ><![CDATA[
%dw 2.0
output application/java
---
attributes.headers['loginSessionId'] default ""]]></ee:set-variable>

				<!-- SPAD-9128 -->
				<ee:set-variable variableName="payroll" ><![CDATA[attributes.queryParams.payroll default false]]></ee:set-variable>

			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-employees-updateSub_Flow" doc:id="1530f97d-d793-498f-87ac-bc11d5b09f14" name="get-employees-updateSub_Flow"/>
		<error-handler ref="error-handling-app" />
	</flow>
	<flow name="post:\logExecutionManager:employee-ehr-sapi-config"
		doc:id="425c0d84-ef44-49af-b88d-3071c9c71155">
		<flow-ref
			doc:name="log-execution-manager-implementationSub_Flow"
			doc:id="1b1f7544-12e6-4997-af15-e1fa7aa702dc"
			name="log-execution-manager-implementationSub_Flow" />
		<error-handler ref="error-handling-app" />
	</flow>
	<flow name="post:\employees\(ID):employee-ehr-sapi-config"
		doc:id="33a9eeec-dde1-45d7-9f39-c96ebc5d53be">
		<ee:transform doc:name="Set Employee ID"
			doc:id="1bc674ff-4dc1-4677-9a56-b941a04b3cc8">
			<ee:variables>
				<ee:set-variable variableName="employeeId"><![CDATA[attributes.uriParams.'ID']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="employeeId-implementationSub_Flow"
			doc:id="b9dcd17e-524e-4cd9-bab0-88e66781c136"
			name="employeeId-implementationSub_Flow" />
		<error-handler ref="error-handling-app" />
	</flow>
	<flow name="get:\cities:employee-ehr-sapi-config"
		doc:id="5cdc65dd-3a22-4814-a858-b9a342a2dfe6">
		<set-variable
			value="#[%dw 2.0 &#xA;output application/json indent = false &#xA;--- &#xA;{ &#xA; country: attributes.headers['country'], &#xA; code: attributes.headers['code'] &#xA;}]"
			doc:name="bureau vars" doc:id="4d265208-18b9-4f61-8880-e99a368a143c"
			variableName="bureau" />
		<json-logger:logger doc:name="log payload"
			doc:id="751de980-19da-4728-b32a-6a1793b440ef"
			config-ref="JSON_Logger_Config"
			category="LV_SOCKET_LOGGER"
			message="START GET BUREAU" priority="DEBUG">
			<json-logger:content><![CDATA[#[output application/json indent = false ---
payload]]]></json-logger:content>
		</json-logger:logger>
		<flow-ref
			doc:name="employee-ehr-odata-implementationSub_Flow"
			doc:id="45c4f7b7-9e38-49b9-a18e-4e799236aecd"
			name="employee-ehr-odata-implementationSub_Flow" />
		<error-handler ref="error-handling-app" />
	</flow>
	<flow name="put:\employees\(ID):employee-ehr-sapi-config">
		<ee:transform doc:name="Set Variable ID">
			<ee:variables>
				<ee:set-variable variableName="ID">attributes.uriParams.'ID'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="update-employee-implementationSub_Flow"
			doc:id="51e455a9-060e-4e04-9c07-d55be4749a52"
			name="update-employee-implementationSub_Flow" />
		<error-handler ref="error-handling-app" />
	</flow>
	<flow name="patch:\employees\(ID):employee-ehr-sapi-config"
		doc:id="b84104a8-6bfe-4d1e-a11c-1cd8ed0b9fce">
		<ee:transform doc:name="Set Variable ID">
			<ee:variables>
				<ee:set-variable variableName="ID">attributes.uriParams.'ID'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="update-employee-implementationSub_Flow"
			doc:id="140d9a66-d34c-4135-8465-0ddc7a942b01"
			name="update-employee-implementationSub_Flow" />
		<error-handler ref="error-handling-app" />
	</flow>
	<flow name="get:\degree:employee-ehr-sapi-config"
		doc:id="654e7cb2-05da-4201-b1c8-56c3bbbdaab4">
		<ee:transform
			doc:name="Set vars filterDegree, selectDegree, expandDegree"
			doc:id="dcf85dba-de09-43d1-8a3e-24c1a701bf5e"
			xsi:schemaLocation="&#10;http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="filterDegree"><![CDATA[%dw 2.0
output application/json indent = false
var userId = attributes.queryParams.filter
---
"userId eq '" ++ userId ++ "'"]]></ee:set-variable>
				<ee:set-variable variableName="selectDegree"><![CDATA[%dw 2.0
output application/json indent = false
---
attributes.queryParams.select]]></ee:set-variable>
				<ee:set-variable variableName="expandDegree"><![CDATA[%dw 2.0
output application/json indent = false
---
attributes.queryParams.expand]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-degree"
			doc:id="8e257e0b-7cb0-48fa-8459-561ec0605078" name="get-degree" />
		<error-handler ref="error-handling-app" />
	</flow>
	<flow name="get:\workExperience:employee-ehr-sapi-config"
		doc:id="73c5b64e-fba6-4b97-9581-a295ef3464d6">
		<ee:transform doc:name="Set vars filterWork"
			doc:id="ca119c2c-ea02-4490-a0dd-0bb127c2328d"
			xsi:schemaLocation="&#10;http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="filterWork"><![CDATA[%dw 2.0
output application/json indent = false
var userId = attributes.queryParams.filter
---
"userId eq '" ++ userId ++ "'"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-work-experience"
			doc:id="d05a9d97-79dd-4afc-a2a5-f9ee9d27364b"
			name="get-work-experience" />
		<error-handler ref="error-handling-app" />
	</flow>
	<flow name="get:\legalEntity:employee-ehr-sapi-config"
		doc:id="c6a9d397-fe08-4bcb-835e-e5bb8082cb77">
		<ee:transform doc:name="Set vars"
			doc:id="edf2eb48-8018-4940-83e7-dda4bbffd83e"
			xsi:schemaLocation="&#10;http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
			</ee:message>
			<ee:variables >
<ee:set-variable variableName="queryParams" ><![CDATA[output application/java
var legalEntityCode = attributes.headers['legalEntityCode']
---
{
	"\$format" : "json",
	"\$filter" : "externalCode eq '" ++ legalEntityCode ++ "'"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-legal-entity"
			doc:id="17736092-2e0e-4e34-97db-debdb5909bfd" name="get-legal-entity" />
		<error-handler ref="error-handling-app" />
	</flow>
	<flow name="get:\picklist:employee-ehr-sapi-config" doc:id="cb85de63-3b87-4e37-8730-c52c5ad64a66" >
		<ee:transform doc:name="set vars.queryParams" doc:id="9655272d-9ee8-4ca5-a71d-d77e68ef4b7a" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="queryParams" ><![CDATA[output application/json indent = false
---
{
"externalCode": attributes.queryParams.'externalCode' default "",
"picklistId" : attributes.queryParams.'picklistId' default ""
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-pickllist" doc:id="d1723a2e-6be4-4205-ba00-bbfe531b0065" name="get-pickllist" />
		<error-handler ref="error-handling-app" />
	</flow>
	<flow name="post:\employees\advanced-search:employee-ehr-sapi-config" doc:id="c8df81dd-3c41-40b2-99a8-7357460c0bb7" >
		<ee:transform doc:name="Set variables" doc:id="da80f660-9ab5-4cd0-be02-2b1fdccb007a">
			<ee:variables>
				<ee:set-variable variableName="querySessionId" ><![CDATA[payload.querySessionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="post-employees-advanced-search" doc:id="0b875133-860d-4e1b-8fba-7c7f7cd71f1f" name="post-employees-advanced-search"/>
		<error-handler ref="error-handling-app" />
	</flow>
</mule>
